body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    background: #f6fff4;
}

header {
    background: url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6?auto=format&fit=crop&w=1600&q=60') center/cover;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    background: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 38px;
}

nav {
    background: #e8f7e6;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #2e6f2e;
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
}

nav a:hover {
    color: #3a8f3a;
}

section {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: #2e6f2e;
    margin-top: 0;
}
.item-box {
    background: white;
    border: 1px solid #c7e5c5;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.item-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-img {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
    height: 300px;
    display: block;
     object-fit: cover;
}

button {
    background: #3a8f3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #2e6f2e;
}

button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.buy-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #c7e5c5;
    text-align: center;
}